body {
    margin: 0;
    font-family: "Jost-Italic-VariableFont_wght", ;
    font-size: 18px;
    background-color: #d1d1d1;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/* Header =============
==========*/

.header {
    background-image: url(../images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    display: block;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 35px 0px;
}


/* Nav =============
==========*/

.nav__item {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


    opacity: 1;

}


.nav__item:hover {
    opacity: 0.70;

    text-decoration: underline;
}

/* About =============
==========*/
.about {
    background-color: #fbfbfb;
}


.about__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__tag {
    color: #000000;
    font-size: 18px;
    text-align: center;

    background-color: yellow;

    width: 100%;
    max-width: 159px;
}

.about__image {
    width: 100%;
    max-width: 366px;
    height: 100%;
    max-height: 536px;
}

.about__images {
    width: 100%;
    max-width: 366px;
    height: 100vh;
    max-height: 536px;
    margin-right: 20px;
}

.about__text {
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 300;

    padding-top: 25px;
    width: 539px;
    height: 363px;
}

.about__title {
    color: #93a2ad;
    font-size: 48px;
    font-weight: 700;

    padding-bottom: 25px;

}


/* Promo =============
==========*/

.promo {
    background-color: #fbfbfb;
}


.promo__content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;


}

.promo__logo {
    background-color: yellow;

    border-radius: 50%;

    width: 100%;
    max-width: 300px;

    height: 100%;
    max-height: 300px;


    font-size: 36px;
    color: #1e1e1e;
    font-weight: 500;
    text-align: center;
    padding-top: 120px;
    margin: 250px 450px;

    position: absolute;
    z-index: 2;




}

.promo__image--one {
    width: 50%;
    height: 720px;


    background-image: url("../images/promo/promo\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo__image--two {
    width: 50%;
    height: 720px;

    background-image: url("../images/promo/promo\ 2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

/* Intro =============
==========*/


.intro {
    background-image: url("../images/bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

    display: block;
}

.intro__content {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.intro__text {
    font-size: 18px;
    color: #fff;
    font-weight: 300;

    max-width: 386px;
}


.intro__title {
    color: #fff;
    font-size: 60px;

    max-width: 345px;
}

/* Intro =============
==========*/

.social {
    background-color: #fff;

}
.social__title {
    font-size: 48px;
    color: #93a2ad;
    font-weight: 500;

}



.social__button {
    background-color: yellow;
    opacity: 1.2;
    cursor: pointer;

    width: 220px;
    height: 64px;


    color: #151515;
    font-size: 24px;

    margin-top: 30px;



}

.social__button:hover {
    opacity: 0.60;
}


/* Footer =============
==========*/

.footer {
    background-color: #0e1215;

}

.footer__nav {
    display: flex;
    justify-content: space-between;

    padding: 35px 0;

}
.footer__content {
    display: flex;

}

.footer__title {
    font-size: 30px;
    color: #ffd800;
    font-weight: 700;
}

.footer__item {
    width: 50%;
    height: auto;
}

.footer__list {
    color: #d1d1d1;
    font-size: 18px;
    font-weight: 300;
}

.footer__info {
    color: #d1d1d1;
    font-size: 18px;
    font-weight: 300;
}


/* Media =============
==========*/

@media (max-width: 1230px) {

    .nav__item {
        font-size: 18px;

    }

}



@media (max-width: 990px) {

    /* about*/

    .about__inner {
        display: block;
    }

    .about__content {
        width: 100%;

    }

    .about__image {
        width: 100%;
        margin-right: -20px;
    }

    /* Promo*/

    .promo__content {
        display: block;
    }

    .promo__image--one {
        width: 100%;
    }

    .promo__image--two {
        width: 100%;
    }

    .promo__logo {
        margin: 0 auto;
        margin-left: 50px;
    }

        /* intro*/

    .intro__content {
        display: block;
    }

    .intro__text {
        width: 100%;
        font-size: 14px;
    }

    .intro__title {
        width: 100%;
        font-size: 23px;
    }

            /* footer*/

    .footer__content {
        display: block;
    }

    .footer__nav {
        display: block;
    }

    .footer__logo {
        width: 100%;
    }
}


@media (max-width: 420px) {

        /*Header Nav*/

        .header__nav {
            display: block;
        }

        /* Nav*/

        .nav__item {
            display: block;
            font-size: 18px;
            width: 100%;
            margin-bottom: 10px;

        }


        /* about*/

        .about__inner {
            display: block;
        }

        .about__content {
            width: 100%;

        }

        .about__image {
            width: 100%;
            margin-right: -20px;
        }

        .about__text {
            font-size: 16px;
            max-width: 345px;
        }

        .about__title {
            font-size: 28px;
            max-width: 345px;
        }

        /* Promo*/

        .promo__content {
            display: block;
        }

        .promo__image--one {
            width: 100%;
        }

        .promo__image--two {
            width: 100%;
        }

        .promo__logo {
            margin: 0 auto;
            margin-left: 50px;
        }

            /* intro*/

        .intro__content {
            display: block;
        }

        .intro__text {
            width: 100%;
            font-size: 12px;
            max-width: 345px;
        }

        .intro__title {
            width: 100%;
            font-size: 19px;
            max-width: 345px;
        }

                /* footer*/

        .footer__content {
            display: block;
        }

        .footer__nav {
            display: block;
        }

        .footer__logo {
            width: 100%;
        }
}
